/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #add8e6;
  padding: 20px 0;
}

/* Utils */
.container {
  max-width: 1180px;
  margin: auto;
}

.col-header {
  width: calc(100% / 3);
  height: 50px;
  background-color: #daa520;
  border: 1px dashed black;
  display: inline;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.container-box-center {
  background-color: #00008b;
}

.box-center {
  background-color: #ee82ee;
  width: 50%;
  height: 500px;
  margin: 20px 0;
}

.col-main {
  background-color: #1e90ff;
  width: 70%;
  min-height: 500px;
  margin: 20px 0;
  border: 1px dashed black;
}

.col-aside {
  background-color: #ffc0cb;
  width: 30%;
  min-height: 500px;
  margin: 20px 0;
  border: 1px dashed black;
}
